---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main class='mx-auto my-8 max-w-prose px-4 md:px-0'>
    <h1 class='text-4xl font-semibold text-neutral-800 dark:text-neutral-50'>Hello world!</h1>
  </main>
</Layout>
