---
import '@fontsource-variable/inter'
import defaultSEO from '../default-seo.ts'
import { SEO, type Props as SEOProps } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import type { PartialDeep } from 'type-fest'
import { Head } from 'astro-capo'

export interface Props {
  seo?: PartialDeep<SEOProps>
}

const { seo } = Astro.props

const finalSeo = Object.assign(defaultSEO, seo)
---

<!doctype html>
<html lang='en'>
  <Head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <SEO {...finalSeo} />

    <ViewTransitions />
  </Head>
  <body class='bg-neutral-50 dark:bg-neutral-900'>
    <slot />
  </body>
</html>
